<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>About Us</h1>
        <a th:href="@{/mainscreen}" style="padding: 10px 10px; background-color: #40A4FF; border: 1px black solid; text-decoration: none; color:white ">Home</a>
    </div>
    <hr>
    <p style="text-align: center">
        At Moe's Auto Parts, we are here to serve our customers by providing them with the best
        auto parts available on the market. We are striving for customer satisfaction by providing
        them with high quality and durable auto parts and cars for people to purchase. People use cars
        on a daily basis to get by in life. That's why it's our goal as a company to serve our customers
        with reliable cars they can use on a daily basis, so they won't have to lose thousands of dollars
        at the mechanic shop repairing their vehicles.
    </p>

</div>
</body>
</html>